@import "./utilities/variables";
@import "./utilities/mixins";

@import "./base/reset";
@import "./base/typo";


@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-destinos";
@import "./layout/main-usa";
@import "./layout/main-ata";
@import "./layout/main-gastronomia";
@import "./layout/main-mex";
@import "./layout/main-sobremi";


@import "./layout/media1440";
@import "./layout/media1024";
@import "./layout/media768";
@import "./layout/media425";
@import "./layout/media375";
@import "./layout/media320";


