/*color del background de header*/

$color-header-principal: #0B2447;
$color-header-secundario: #19376D;
$color-header-terciario: #576CBC;
$color-header-cuarternario: #A5D7E8;
$color-header-quintinario:grey;
$color-header-sexto:black;

/*color del background de footer*/
$color-footer-principal: #0B2447;
$color-footer-secundario: #19376D;
$color-footer-terciario: #576CBC;
$color-footer-cuarternario: #A5D7E8;

/*color de la letra header y footer*/
$color-letrafohedprinpal:black;
$color-letrafohedsecundario:#A5D7E8;
$color-letrafoheadterciario: white;

/*color de la letra de destinos*/
$color-letradestinosprincipal: #A5D7E8;
$color-letradestinossecundario:black;

/*tipos de fuentes de letra*/
$tipo-deletra1:arial;
$tipo-deletra2:'Galindo';
$tipo-deletra3:'Geostar Fill';
$tipo-delatra4:'Grenze Gotisch';