footer{
    display: flex;
    width: 1440;
    background-color:#0B2447;
    align-items: center;
    padding: 10px;
    color: #e6dcdc;
    font-family: $tipo-deletra2;
    justify-content: space-between;
}

.redes{
    a{
        font-weight: 600;
        padding-right: 45px;
        font-size: 60px;
        text-decoration: none;
        color: #e6dcdc;
        &:hover{
            text-decoration: none;
            color: #576CBC;
        }
    }
} 