

.colorss{
    h2{
        color: white;
        background-image: linear-gradient(to bottom, #a5d7e8, #82b8d2, #6299bc, #467ba5, #2f5d8e, #2b558a, #294c85, #294480, #344e8f, #40589e, #4b62ad, #576cbc);
    }
}

img{
    width: 100%;
    height: 500px;

}

.contenedora {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.contenedor {
    a{
        img{
            border-radius: 50%;
            width: 200px;
            height: 200px;
            margin: 0 25px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

section {
    div{
        a{
            h3{
                font-family: $tipo-deletra2;
                color: rgb(0, 0, 0);
                margin: 0 45px;
            }
        }
    }
}

section {
    div{
        article{
            img{
                width:100%;
                height: 350px;
            }
        }
    }
}

.titulos {
    h2{
        font-family: $tipo-deletra2;
        font-size: 60px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-shadow: 6px 6px rgb(0, 0, 0);
        justify-content: left ;
        display: flex;
        margin: 0 25px;
        &:hover{
            text-decoration: none;
            color: #576CBC;
        }
    }
}

.titulos{
    p{
        font-family: $tipo-deletra2;
        display: flex;
        font-size: 20px;
        font-weight: 600;
        margin: 0 25px;
    }
} 

section{
    div{
        article{
            p{
                font-family: $tipo-deletra2;
            }
        }
    }
}

/*pantalla de destinos*/

